Code
dconf
gh
go
gtk-3.0
gtk-4.0
Insomnia
JetBrains
kde.org
libreoffice
matugen
ngw-look
pulse
qt5ct
qt6ct
qView
systemd
tmux
wallpapers
xsettingsd
yay
balloofileinformationrc
dolphinrc
kdeglobals
kiorc
ktrashrc
mimeapps.list
newfile
pavucontrol.ini
trashrc
user-dirs.dirs
user-dirs.locale

